name: Test
on:
  pull_request:
    branches:
    - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: "0"
    - uses: actions/setup-go@v6
      with:
        go-version: '>=1.25.0'
    - name: Go generate
      run: make generate
    - name: Check for uncommited differences
      run: git diff --exit-code -- manifests/ || ( echo 'Please run `go generate ./...`' ; exit 3 )

  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: "0"
    - name: Build image
      run: make docker

  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: "0"
    - name: Check Docs
      run: make docs-vale
